<div class="row mt-5">
    <div class="col-md-4 offset-md-4  border border-success">
        <h1 class="text-center login-title mt-3">Entre na sua conta!</h1>
        <div class="account-wall">
            <form class="form-signin" action="/usuario/login" method="post">
                <label class="mt-3" for="nome">Nome: </label>
                <input name="nome" type="text" class="form-control" placeholder="nome" required autofocus>
                <label class="mt-4" for="senha">Senha: </label>
                <input name="senha" type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-success btn-block mt-5 mb-5" type="submit">Entrar</button>
            </form>
        </div>
    </div>

</div>


