<div style="position:absolute; width: 40%; left: 30%">
    <h1 class="text-center login-title">Entre na sua conta!</h1>
    <div class="account-wall">
        <form class="form-signin" action="/usuario/login" method="post">
            <label class="mt-3" for="nome">Nome: </label>
                <input name="nome" type="text" class="form-control" placeholder="nome" required autofocus>
            <label class="mt-3" for="senha">Senha: </label>
                <input name="senha" type="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-success btn-block mt-3" type="submit">
                Entrar</button>

            <a href="#" class="pull-right need-help">Posso ajudar? </a><span class="clearfix"></span>
        </form>
    </div>
</div>


